.txt-color{
    color:red;
}

#Alert{
    margin-left: 30px;
    margin-right: 30px;
}

/* body{
    background-image: url("https://www.heineken.com/media-us/ne1oaei2/heineken-enjoy-responsibly.jpg?anchor=center&mode=crop&width=932&height=832&rnd=132397283757730000&quality=85");
} */